$colorText: #9B9B9B;
$colorAccent: #2B4074;
$colorHeading: #4A4A4A;
$colorBorderCard: #F9F6E5;
$colorDescription: #797979;
$colorBorderFooter: #7EBF84;

$minMediaSm: 'min-width: 575px';
$minMediaMd: 'min-width: 640px';
$minMediaLg: 'min-width: 768px';
$minMediaXl: 'min-width: 1024px';
$minMediaXXL: 'min-width: 1440px';

$maxMediaSm: 'max-width: 575px';
$maxMediaMd: 'max-width: 640px';
$maxMediaLg: 'max-width: 768px';
$maxMediaXl: 'max-width: 1024px';
$maxMediaXXL: 'max-width: 1440px';

$HminMediaSm: 'min-height: 575px';
$HminMediaMd: 'min-height: 640px';
$HminMediaLg: 'min-height: 768px';
$HminMediaXl: 'min-height: 1024px';
$HminMediaXXL: 'min-height: 1440px';

$HmaxMediaSm: 'max-height: 575px';
$HmaxMediaMd: 'max-height: 640px';
$HmaxMediaLg: 'max-height: 768px';
$HmaxMediaXl: 'max-height: 1024px';
$HmaxMediaXXL: 'max-height: 1440px';